body {
  display: flex;
  flex-direction: row;
  background-color: #E2E1DD;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#contacts-container {
  width: 45%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #ddd;
  margin: 85px 0 0 85px;
  background-color: #fff;
  height: calc(100vh - 120px);
  overflow-y: auto;
}

.contact-card {
  display: flex;
  flex-direction: row;
  width: calc(100% - 30px);
  align-self: flex-start;
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

.contact-card img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.contact-card-details {
  display: flex;
  flex-direction: column;
  padding: 5px 0 0 5px;
}

.contact-card h2 {
  font-size: 17px;
  font-weight: 400;
}

.contact-card p {
  font-size: 15px;
  color: #777;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 400px;
}

.contact-card h2,
.contact-card p {
  margin: 0;
}

/* Estilização das conversas */

.conversation {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 85px;
  margin-right: 85px;
  background-color: #ffffff;
  height: calc(100vh - 120px);
  overflow: auto;
}

.conversation-container {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  overflow-y: auto;
  flex-grow: 1;
}

.contact-header {
  display: flex;
  flex-direction: row;
  width: 1174px;
  padding: 10px;
  background-color: #F0F2F5;
  position: fixed;
  top: 93px;
}

.contact-header h2 {
  font-size: 1.2em;
  font-weight: 400;
  margin: 0;
}

.contact-header img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
}

.message-container {
  max-width: 70%;
  min-width: 9%;
  margin-left: 10px;
  margin-bottom: 10px;
  align-self: flex-start; /* Para alinhar as mensagens recebidas à esquerda */
  border-radius: 0px 12px 12px 12px;
  background-color: #dae5ff;
  font-size: 15px;
}

.message-container div {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.message-container p {
  margin: 0;
  padding: 10px;
}

.message-container img, video {
  max-width: 350px;
  max-height: 350px;
  border-radius: 12px;
  padding: 2px 2px 0 2px;
}


.sent-message {
  align-self: flex-end; /* Para alinhar as mensagens enviadas pelo usuário atual à direita */
  margin-right: 10px;
  flex-direction: row-reverse;
  border-radius: 12px 0px 12px 12px;
  color: #ffffff;
  background-color: #5584ED;
}

/* Estilos para a caixa de entrada de mensagem */
.message-input {
  display: flex;
  flex-direction: row;
  padding: 10px;
  gap: 10px;
  background-color: #F0F2F5;
}

.message-input input[type="text"] {
  width: calc(100% - 70px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.message-input button {
  width: 60px;
  padding: 10px;
  background-color: #5584ED;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.message-input button:hover {
  background-color: #45a049;
}


