body {
  display: flex;
  flex-direction: row;
  background-color: #E2E1DD;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#contacts-container {
  width: 45%;
  display: flex;
  flex-direction: column;
  margin: 85px 0 0 85px;
  border: #45a049 1px solid;
  background-color: #fff;
  height: 100vh;
  overflow: auto;
}

.contact-card {
  display: flex;
  flex-direction: row;
  max-width: 400px;
  align-self: flex-start;
  padding: 15px;
  border-bottom: 1px solid #ddd;
  width: 100%;
}

.contact-card img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.contact-card-details {
  display: flex;
  flex-direction: column;
  padding-left: 5px;
}

.contact-card h2 {
  font-size: 1.2em;
  font-weight: 600;
}

.contact-card h2,
.contact-card p {
  margin: 0;
}

/* Estilização das conversas */

.conversation {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 85px;
  margin-right: 85px;
  background-color: #EFEAE2;
  height: 100vh;
  overflow: auto;
}

.conversation-container {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  margin: 0 0 0 0;
  overflow-y: auto;
}

.contact-header {
  display: flex;
  flex-direction: row;
  width: calc(100% - 20px);
  padding: 10px;
  border-bottom: 1px solid #ddd;
  background-color: #F0F2F5;
  position: sticky;
  top: 0;
}

.contact-header img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
}

.message-container {
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  background-color: #f0f0f0;
  align-self: flex-start; /* Para alinhar as mensagens recebidas à esquerda */
}

.sent-message {
  align-self: flex-end; /* Para alinhar as mensagens enviadas pelo usuário atual à direita */
  background-color: #dcf8c6; /* Cor de fundo para as mensagens enviadas pelo usuário */
}

/* Estilos para a caixa de entrada de mensagem */
.message-input {
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 0;
}

.message-input input[type="text"] {
  width: calc(100% - 70px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.message-input button {
  width: 60px;
  padding: 10px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.message-input button:hover {
  background-color: #45a049;
}